{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage User</title>
            <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">

</head>
<body>
    {% include 'navbar.html' %}
    <div class="main-content app-content">
        <div class="container-fluid">

            <!-- Start::page-header -->
            <div class="d-flex align-items-center justify-content-between page-header-breadcrumb flex-wrap gap-2">
                <div>
                    <nav>
                        <ol class="breadcrumb mb-1">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Apps</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Manage User</li>
                        </ol>
                    </nav>
                    <h1 class="page-title fw-medium fs-18 mb-0">Manage User</h1>
                </div>
            </div>
            <!-- End::page-header -->

            <!-- Start::row-1 -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                            <div class="card-title">
                                
                            </div>
                            <div class="d-flex flex-wrap gap-2">
                                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create-contact"><i class="ri-add-line me-1 fw-medium align-middle"></i>Add User</button>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="table-responsive">
                                <table id="datatable-basic" class="table table-bordered text-nowrap w-100">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="border-0">Name</th>
                                            <th class="border-0">Username</th>
                                            <th class="border-0">Status</th>
                                            <th class="border-0">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for u in users_data %}
                                        <tr>
                                            <td>{{ u.name }}</td>
                                            <td>{{ u.username }}</td>
                                            <td>
                                                {% if u.is_active %}
                                                    Active
                                                {% else %}
                                                    Inactive
                                                {% endif %}
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-primary edit-user-btn" 
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#EditAccountModal" 
                                                        data-id="{{ u.id }}" 
                                                        data-name="{{ u.name }}" 
                                                        data-username="{{ u.username }}"
                                                        data-is_active="{{ u.is_active}}">
                                                    Edit
                                                </button>
                                                <a href="#" class="btn btn-sm btn-danger delete-user-btn" data-id="{{ u.id }}">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End::row-1 -->

            <!-- Start:: Create User -->
            <div class="modal fade" id="create-contact" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">Add New User</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="userForm" class="mt-4 needs-validation" action="add_user" method="post">
                                {% csrf_token %}
                                <div class="row gy-3">
                                    <div class="col-xl-6">
                                        <label for="deal-title" class="form-label">Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Name" id="name" name="name" required minlength="3" maxlength="50">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="deal-title" class="form-label">Username</label>
                                        <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username" required minlength="3" maxlength="20">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="deal-title" class="form-label">Password</label>
                                        <input type="password" placeholder="Password" class="form-control" id="password" name="password" required minlength="6">

                                    </div>
                                </div>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn m-0 btn-danger me-2"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn m-0 btn-primary">Add</button>
                        </div>
                    </form>
                        
                    </div>
                </div>
            </div>
            <!-- End:: Create User -->

            <!-- Start:: Edit User -->
            <div class="modal fade" id="EditAccountModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">Edit User</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editUserForm" class="mt-4 needs-validation" method="post" action="edituser">
                                {% csrf_token %}
                                <input type="hidden" name="edit_id" id="editUserId" value="{{ user.id }}">
                                <div class="row gy-3">
                                    <div class="col-xl-6">
                                        <label for="deal-title" class="form-label">Name</label>
                                        <input type="text" class="form-control" name="edit_name" id="editName" value="{{ user.name }}" required minlength="3" maxlength="50">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="deal-title" class="form-label">Username</label>
                                        <input type="text" class="form-control" name="edit_username" id="editUsername" value="{{ user.username }}" minlength="3" readonly maxlength="20">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="deal-title" class="form-label">Status</label>
                                        <select class="form-control" name="edit_status" id="status">
                                            <option value="">Select Status</option>
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn m-0 btn-danger me-2"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn m-0 btn-primary">Edit</button>
                        </div>
                    </form>
                        
                    </div>
                </div>
            </div>
            <!-- End:: Edit User -->

        </div>
    </div>
    {% include 'footer.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/js/user.js' %}"></script>
<!-- Datatables Cdn -->
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<!-- Internal Datatables JS -->
<script src="{% static 'assets/js/datatables.js' %}"></script>
</body>
</html>